#root {
  max-width: 1280px;
  margin: 0 auto;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.outerDiv{
  border-bottom: 2px solid ;
}
.flex-row p{
  margin-left: 20px;
  font-size: 14px;
}
.flex-row img {
  height: 300px;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1{
  text-align: center;
  padding: 2px;
  border:2px solid goldenrod
}
